.btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chuck-quote {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;

}

.chuck-img {
    width: 30%;
}