.favlist {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 769px) {
    .favlist {
        margin: 0;
        padding: 0;
        display: grid;
        justify-content: center;
        margin: 0;
        padding: 0;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 360px);
        row-gap: 10px;
        column-gap: 15px;
    }
}